.header {
    display: flex;
    width: 300px;
    transition-duration: 800ms;
    transform: translate(-250px);
}

.header:hover {
    transition-duration: 800ms;
    transform: translate(0);
}

.nav {
    margin: 10px;
    color: #070707;
    text-decoration: none;
}

.active {
    color: #9898ff;
    text-decoration: none;
}

.nav:hover {
    color: #9898ff;
    opacity: 0.8;
}

.block {
    width: 21px;
    height: 21px;
    margin: 10px;
    background-color: #9898ff;
}