.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.data {
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 10px 10px 10px 0;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0,0,0,0) 15px, rgba(0,0,0,1) 0);
}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    /*перенос слов целеком*/
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.time{
    display: flex;
    justify-content: flex-end;
}