.affairBlock {
    background-color: #b4b4b4;
    width: 300px;
    border-radius: 10px;
    font-weight: 400;
    font-size: large;
}

.id {
    padding: 5px;
}

.name {
    width: 130px;
    display: inline-block;
}

.priority {
    width: 80px;
    display: inline-block;
}
.btn :nth-child(n) {
    margin: 5px;
}
.btnRemove {
    margin: 5px;
}

