.superInput {
    background-color: #c9c8c8;
    border: 1px solid #494848;
    border-radius: 5px;
    width: 150px;
    height: 20px;
    font-family: serif;
    font-weight: 500;
}

.errorInput {
    border: 3px solid red;
    background-color: #c9c8c8;
    border-radius: 5px;
}

.error {
    color: red;
}