.superInput {
    margin: 10px;
    background-color: #c9c8c8;
}

.input:focus{
    outline: none;
    border: 2px solid #4b4b4b;
}

.errorInput {
    margin: 10px;
    border: 2px solid red;
    background-color: #c9c8c8;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}