.input {
    display: block;
    width: 100px;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #ffffff;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.input:focus{
    outline: none;
    border: 2px solid #5b5b5b;
}

.errorInput {
    border: 2px solid red;
}

.error {
    color: red;
}