.greeting {
    display: flex;
}

input {
    margin: 10px;
}

.error {
    color: red;
}

.errorInput{
    border: 1px solid red;
    z-index: -2;
}
/*.input {*/
/*    border: 1px solid black;*/
/*}*/
.totalUsers {
    margin: 10px;
    font-weight: 500;
    font-size: large;
    color: #494848;
}

.btn {
    height: 40px;
    margin-top: 10px;
}